:root {
  --input-padding: 10px;
  --primary-color: #0F191A;
  --washed-out: rgba(101, 101, 101, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif, Arial;
}

canvas {
  cursor: grab;
}

button {
  background: var(--washed-out);
  border: none;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
  transition: all 150ms ease-in-out;
  font-weight: bold;
}

button:hover {
  background: var(--primary-color);
}

input {
  border: 2px solid var(--washed-out);
  padding: 5px var(--input-padding);
  transition: all 150ms ease-in-out;
}

input:focus {
  border: 2px solid var(--primary-color);
}

.input-group {
  position: relative;
}

.input-group label {
  position: absolute;
  left: calc(var(--input-padding) / 2);
  top: -12px;
  pointer-events: none;
  font-size: 14px;
  transition: all 150ms ease-in-out;
  background: white;
  padding: 0 2px;
}

.input-group input:focus + label {
  color: var(--primary-color);
}

#info {
  position: fixed;
  top: 10px;
  left: 10px;
  color: red;
}

#insert, #speed {
  width: 100px;
}

#panel {
  display: flex;
  position: fixed;
  bottom: 5px;
  left: 5px;
  z-index: 1000;
}

#panel > * {
  margin: 0 10px;
}

#panel button {
  height: 100%;
}

#help {
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1001;
  font-size: 14px;
}
#help h2 {
  margin: 0;
}
#help button {
  margin-top: 10px;
}


.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-25deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
